<div *ngIf="!hasMobileUserAgent && isMobile && scale == 1" class="fixed text-3xl font-bold" style="top:1em; left:1em;">
  Click to continue
</div>
<dialog class="modal modal-open">
  <div class="modal-box flex flex-col justify-center items-center text-center gap-4">
    <h3 class="text-2xl font-bold">Welcome to Hitster!</h3>
    <div role="alert" class="alert alert-warning" *ngIf="hasMobileUserAgent">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
      <span>To hear full songs you have to <span class="font-bold whitespace-nowrap">enable Desktop Site Mode</span>, otherwise you will only hear a 30 second preview.</span>
    </div>
    <button class="btn w-full" [ngClass]="{'btn-primary btn-lg': !loading}">
      <span *ngIf="loading" class="loading loading-spinner"></span>
      <span *ngIf="!loading" class="text-xl font-bold">Start</span>
    </button>
  </div>
  <div method="dialog" class="modal-backdrop" style="z-index: 3000;">
    <button (click)="close.emit()">close</button>
  </div>
</dialog>
