<button *ngIf="!hasMobileUserAgent && isMobile && scale == 1" (click)="close.emit()" class="bg-base-100 p-7 rounded-lg fixed text-[2.5em] font-bold" style="top:1rem; left:0; z-index: 2500;">
  Click to continue
</button>
<dialog class="modal modal-open">
  <div class="modal-box flex flex-col justify-center items-center text-center gap-4">
    <h3 class="text-2xl font-bold">Welcome to Hitster!</h3>
    <div role="alert" class="alert alert-warning shadow-lg rounded-lg gap-1 sm:gap-3" *ngIf="hasMobileUserAgent">
      <svg class="stroke-current shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
      <span>To hear full songs you have to <span class="font-bold whitespace-nowrap">enable Desktop Site Mode</span>, otherwise you will only have a 30s preview.</span>
    </div>
    <div role="alert" class="alert shadow-lg rounded-lg gap-1 sm:gap-3" *ngIf="!hasMobileUserAgent">
      <svg class="stroke-current shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      <span>To hear full songs you have to be logged into Spotify</span>
    </div>
    <button class="btn w-full" [ngClass]="{'btn-primary btn-lg': !loading}">
      <span *ngIf="loading" class="loading loading-spinner"></span>
      <span *ngIf="!loading" class="text-xl font-bold">Start</span>
    </button>
  </div>
  <div method="dialog" class="modal-backdrop" style="z-index: 3000;">
    <button (click)="close.emit()">close</button>
  </div>
</dialog>
