<div *ngIf="!loading; else loadingSpinner" class="flex flex-col" style="min-height: 100vh;">
  <div class="bg-base-200 min-h-16" style="position: sticky; top: 0; box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.5);">
    <div class="w-full flex flex-row min-h-16 justify-center items-center p-4">
      <div class="flex w-96 justify-between flex-row">
        <div class="flex flex-row gap-2 items-center text-3xl font-bold">
          <a class="btn btn-ghost px-2" routerLink="/home">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </a>
          {{totalStats.streak}}🔥
        </div>
        <div class="flex flex-row items-center text-3xl font-bold">
          {{totalStats.guessedRight}}✅ {{totalStats.guessedWrong}}❌
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col justify-center items-center flex-grow">
    <div id="all" cdkDropList [cdkDropListData]="tracks" cdkDropListConnectedTo="newd"
      class="drag-list flex flex-col w-full flex-grow justify-center items-center gap-3 px-2 py-16" (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="move($event)" (cdkDropListSorted)="move($event)">
      @for (number of tracks; track number;) {

      <ng-container *ngIf="number == -1">
        <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-96" cdkDrag [cdkDragData]="number">
          <div class="font-bold text-3xl drag-live-hack">{{dragInnerText}}</div>
          <button class="btn btn-neutral btn-circle" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
            <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="number != -1">
        <div class="drag-list-item rounded-lg bg-neutral text-neutral-content shadow-xl p-4 w-96 gap-3" cdkDrag cdkDragDisabled>
          <div class="flex flex-row items-center gap-3">
            <img class="w-24 h-fit" [src]="guessedTracks[number].album_image_url">
            <div class="flex flex-col justify-center gap-2">
              <div class="font-bold leading-6 line-clamp-2">{{guessedTracks[number].title}}</div>
              <div class="line-clamp-2">{{guessedTracks[number].artist}}</div>
            </div>
          </div>
          <div class="flex flex-col items-center gap-2">
            <div class="font-bold text-3xl">{{guessedTracks[number].date.getFullYear()}}</div>
            <button class="btn btn-circle"
            [class.text-error]="!guessedTracks[number].guessed_correct"
            [class.text-success]="guessedTracks[number].guessed_correct && guessedTracks[number].id != gamePlaylist[0].id"
            (click)="toggleOtherSong(guessedTracks[number].track_url)">
              <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering && guessedTracks[number].track_url == spotifyEmbedUrl}">
                <svg *ngIf="guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                </svg>
                <svg *ngIf="!(guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </ng-container>

      }
    </div>
  </div>

  <div class="bg-base-200 min-h-[11rem]" style="position: sticky; bottom: 0; box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.5);">
    <div class="w-full flex flex-col min-h-[11rem] justify-end items-center gap-3 p-4">
      <div [class.hidden]="newd.length == 0" id="newd" cdkDropList [cdkDropListData]="newd" cdkDropListConnectedTo="all" class="drag-list"
        (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
        @for (number of newd; track number) {

        <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-96" cdkDrag [cdkDragData]="number">
          <div class="font-bold text-3xl drag-live-hack">{{dragInnerText}}</div>
          <button class="btn btn-neutral btn-circle" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
            <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering && gamePlaylist[track_n].track_url == spotifyEmbedUrl}">
              <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
              </svg>
              <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
              </svg>
            </div>
          </button>
        </div>

        }
      </div>
      <button *ngIf="newd.length == 0" class="btn btn-primary btn-lg font-bold text-3xl" (click)="guess()">Guess</button>

      <div class="flex flex-row gap-2 items-center w-96">
        <div class="flex flex-row items-center">
          <button class="btn btn-circle" (click)="revertPlayback()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
            </svg>
          </button>

          <button class="btn btn-secondary btn-circle" (click)="togglePlayback()">
            <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering}">
              <svg *ngIf="spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
              </svg>
              <svg *ngIf="!spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
              </svg>
            </div>
          </button>
        </div>

        <input type="range" min="0" [max]="spotifyPlaybackState.duration" class="range" (change)="seekPlayback()" [(ngModel)]="playbackSeekValue" [ngModelOptions]="{standalone: true}" />
      </div>
    </div>
  </div>

  <dialog class="modal modal-open" *ngIf="lastGuess && lastGuess.slotDiff != 0">
    <div class="modal-box bg-error text-error-content">
      <h3 class="font-bold text-2xl mb-3">Nope - You guessed too {{lastGuess.slotDiff > 0 ? 'late' : 'early'}}!</h3>
      <div class="flex flex-row gap-3 justify-between">
        <div class="flex flex-row items-center gap-3">
          <img class="w-24 h-fit" [src]="lastGuess.gameTrack.album_image_url">
          <div class="flex flex-col justify-center gap-2">
            <div class="font-bold leading-6 line-clamp-2">{{lastGuess.gameTrack.title}}</div>
            <div class="line-clamp-2">{{lastGuess.gameTrack.artist}}</div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <div class="font-bold text-4xl">{{lastGuess.gameTrack.date.getFullYear()}}</div>
        </div>
      </div>

      <p class="mt-4 text-lg">You were off:
        <span class="font-bold text-xl">{{lastGuess.absSlotDiff}} Slot{{lastGuess.absSlotDiff != 1 ? 's' : ''}}</span>
        and
        <span class="font-bold text-xl">{{lastGuess.absDateDiff}} Year{{lastGuess.absDateDiff != 1 ? 's' : ''}}</span>
        .
      </p>
      <!-- <p class="mt-2">Stats: {{totalStats | json}}</p> -->
    </div>
    <div method="dialog" class="modal-backdrop z-50">
      <button (click)="nextGuess()">close</button>
    </div>
  </dialog>
  <iframe id="spotify-embed" style="display:hidden;" [src]="spotifyEmbedUrl" width="1" height="1" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
</div>
<ng-template #loadingSpinner>
  <div class="w-full text-center mt-6">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
