@keyframes flame {
  0% {
    transform: rotateZ(-7deg) scale(0.9);
    filter: drop-shadow(0 0 0.1rem var(--fc1));
  }
  100% {
    transform: rotateZ(+7deg) scale(1);
    filter: drop-shadow(0 0 0.3rem var(--fc2));
  }
}

.flicker-animation {
  --fc1: #FF6723;
  --fc2: #FFB02E;
  animation: flame linear infinite alternate;
  animation-duration: 0s;
  filter: grayscale(1);
}


.fixed-overlay {
  box-shadow: 0 0 2rem 1rem rgb(0 0 0 / 0.25);
  z-index: 500;
  position: fixed;
}

@media (prefers-color-scheme: dark) {
  .fixed-overlay {
    box-shadow: 0 0 2rem 1rem rgb(0 0 0 / 0.5);
  }
}

.drag-list-item.cdk-drag-disabled {
  cursor: default;
}

.drag-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
}

.cdk-drag-placeholder {
  background-color: oklch(var(--p) / 0.2);
  color: oklch(var(--pc) / 0.2);
  z-index: -1;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder > .btn-circle {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-list.cdk-drop-list-dragging .drag-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
