<div *ngIf="!loading; else loadingSpinner" class="flex flex-col" style="min-height: 100vh;">
  <div class="bg-base-200 min-h-16" style="z-index: 500; position: sticky; top: 0; box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.5);">
    <div class="w-full flex flex-row min-h-16 justify-center items-center p-4">
      <div class="flex w-[20rem] md:w-[30rem] justify-between flex-row">
        <div class="flex flex-row gap-1 items-center text-3xl font-bold">
          <a class="btn btn-ghost px-2 mr-2" routerLink="/home">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </a>
          {{totalStats.streak}}
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none">
            <path d="M26 19.3399C26 25.4393 20.9491 30.3451 14.8501 29.981C8.58145 29.6067 4.2892 23.5781 5.09774 17.2765C5.58685 13.4429 7.38361 10.1555 9.34008 7.6065C9.67947 7.16144 10.0288 10.7422 10.3782 10.3477C10.7276 9.94307 13.9717 4.32923 15.0997 2.35679C15.3093 1.99265 15.7884 1.88139 16.1278 2.14438C18.3937 3.85382 26 10.2769 26 19.3399Z" fill="#FF6723"/>
            <path d="M23 21.8512C23 25.893 19.4812 29.142 15.2011 28.9952C10.5815 28.8386 7.41254 24.6109 8.09159 20.256C9.06903 14.0124 15.4789 10 15.4789 10C15.4789 10 23 14.7072 23 21.8512Z" fill="#FFB02E"/>
          </svg>
        </div>
        <div class="flex flex-row items-center text-3xl font-bold gap-1">
          {{totalStats.guessedRight}}
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none">
            <path d="M2 6C2 3.79086 3.79086 2 6 2H26C28.2091 2 30 3.79086 30 6V26C30 28.2091 28.2091 30 26 30H6C3.79086 30 2 28.2091 2 26V6Z" fill="#00D26A"/>
            <path d="M13.242 23C12.8588 23 12.4757 22.8566 12.183 22.5692L6.43855 16.9278C5.85382 16.3535 5.85382 15.422 6.43855 14.8477C7.02329 14.2735 7.97186 14.2735 8.55659 14.8477L13.242 19.4491L23.4434 9.43069C24.0281 8.85644 24.9767 8.85644 25.5614 9.43069C26.1462 10.0049 26.1462 10.9365 25.5614 11.5107L14.301 22.5692C14.009 22.8566 13.6252 23 13.242 23Z" fill="#F4F4F4"/>
          </svg>
          {{totalStats.guessedWrong}}
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none">
            <path d="M24.8787 2.87868C26.0503 1.70711 27.9497 1.70711 29.1213 2.87868C30.2929 4.05025 30.2929 5.94975 29.1213 7.12132L20.331 15.9116C20.2822 15.9604 20.2822 16.0396 20.331 16.0884L29.1213 24.8787C30.2929 26.0503 30.2929 27.9497 29.1213 29.1213C27.9497 30.2929 26.0503 30.2929 24.8787 29.1213L16.0884 20.331C16.0396 20.2822 15.9604 20.2822 15.9116 20.331L7.12132 29.1213C5.94975 30.2929 4.05025 30.2929 2.87868 29.1213C1.70711 27.9497 1.70711 26.0503 2.87868 24.8787L11.669 16.0884C11.7178 16.0396 11.7178 15.9604 11.669 15.9116L2.87868 7.12132C1.70711 5.94975 1.70711 4.05025 2.87868 2.87868C4.05025 1.70711 5.94975 1.70711 7.12132 2.87868L15.9116 11.669C15.9604 11.7178 16.0396 11.7178 16.0884 11.669L24.8787 2.87868Z" fill="#F92F60"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col justify-center items-center flex-grow">
    <div id="all" cdkDropList cdkDropListAutoScrollStep="7" [cdkDropListData]="tracks" cdkDropListConnectedTo="newd"
      class="drag-list flex flex-col w-full flex-grow justify-center items-center gap-3 px-2 py-16" (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="move($event)" (cdkDropListSorted)="move($event)">
      @for (number of tracks; track number;) {

      <ng-container *ngIf="number == -1">
        <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-[20rem] md:w-[30rem]" cdkDrag [cdkDragData]="number">
          <div class="font-bold text-3xl drag-live-hack">{{dragInnerText}}</div>
          <button class="btn btn-neutral btn-circle mr-3" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
            <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="number != -1">
        <div class="drag-list-item rounded-lg bg-neutral text-neutral-content shadow-xl p-4 w-[20rem] md:w-[30rem] gap-3" cdkDrag cdkDragDisabled>
          <div class="flex flex-row items-center gap-3">
            <img class="w-20 md:w-24 h-fit" [src]="guessedTracks[number].album_image_url">
            <div class="flex flex-col justify-center gap-2 text-left tooltip tooltip-bottom tooltip-primary"
            attr.data-tip="{{guessedTracks[number].title}} - {{guessedTracks[number].artist}}">
              <div class="font-bold leading-6 line-clamp-2">{{guessedTracks[number].title}}</div>
              <div class="line-clamp-2" >{{guessedTracks[number].artist}}</div>
            </div>
          </div>
          <div class="flex flex-col items-center gap-2">
            <div class="font-bold text-3xl">{{guessedTracks[number].date.getFullYear()}}</div>
            <button class="btn btn-circle"
            [class.text-error]="!guessedTracks[number].guessed_correct"
            [class.text-success]="guessedTracks[number].guessed_correct && guessedTracks[number].id != gamePlaylist[0].id"
            (click)="toggleOtherSong(guessedTracks[number].track_url)">
              <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering && guessedTracks[number].track_url == spotifyEmbedUrl}">
                <svg *ngIf="guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                </svg>
                <svg *ngIf="!(guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </ng-container>

      }
    </div>
  </div>

  <div class="bg-base-200 min-h-[11rem]" style="z-index: 500; position: sticky; bottom: 0; box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.5);">
    <div class="w-full flex flex-col min-h-[11rem] justify-end items-center gap-3 p-4">
      <ng-container *ngIf="track_n < gamePlaylist.length; else ending">
        <div [class.hidden]="newd.length == 0" id="newd" cdkDropList [cdkDropListData]="newd" cdkDropListConnectedTo="all" class="drag-list"
          (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
          @for (number of newd; track number) {

          <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-[20rem] md:w-[30rem]" cdkDrag [cdkDragData]="number">
            <div class="font-bold text-3xl drag-live-hack">{{dragInnerText}}</div>
            <button class="btn btn-neutral btn-circle mr-3" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
              <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering && gamePlaylist[track_n].track_url == spotifyEmbedUrl}">
                <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                </svg>
                <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                </svg>
              </div>
            </button>
          </div>

          }
        </div>
        <button *ngIf="newd.length == 0" class="btn btn-primary btn-lg font-bold text-3xl" (click)="guess()">Guess</button>
      </ng-container>
      <ng-template #ending>
        <div>The End</div>
      </ng-template>

      <div class="flex flex-row gap-2 items-center w-[20rem] md:w-[30rem]">
        <div class="flex flex-row items-center">
          <button class="btn btn-circle" (click)="revertPlayback()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
            </svg>
          </button>

          <button class="btn btn-secondary btn-circle" (click)="togglePlayback()">
            <div [ngClass]="{'loading loading-spinner': spotifyPlaybackState.isBuffering}">
              <svg *ngIf="spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
              </svg>
              <svg *ngIf="!spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
              </svg>
            </div>
          </button>
        </div>

        <input type="range" min="0" [max]="spotifyPlaybackState.duration" class="range" (input)="seekPlaybackStart()" (change)="seekPlayback()" [(ngModel)]="playbackSeekValue" [ngModelOptions]="{standalone: true}" />
      </div>
    </div>
  </div>

  <dialog class="modal modal-open" *ngIf="lastGuess && lastGuess.slotDiff != 0">
    <div class="modal-box bg-error text-error-content">
      <h3 class="font-bold text-lg md:text-2xl mb-3">Nope - You guessed too {{lastGuess.slotDiff > 0 ? 'late' : 'early'}}!</h3>
      <div class="flex flex-row gap-3 justify-between">
        <div class="flex flex-row items-center gap-3">
          <img class="w-20 md:w-24 h-fit" [src]="lastGuess.gameTrack.album_image_url">
          <div class="flex flex-col justify-center gap-2">
            <div class="font-bold leading-6 line-clamp-2">{{lastGuess.gameTrack.title}}</div>
            <div class="line-clamp-2">{{lastGuess.gameTrack.artist}}</div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <div class="font-bold text-4xl">{{lastGuess.gameTrack.date.getFullYear()}}</div>
        </div>
      </div>

      <p class="mt-4 text-lg">You were off:
        <span class="font-bold text-xl">{{lastGuess.absSlotDiff}} Slot{{lastGuess.absSlotDiff != 1 ? 's' : ''}}</span>
        and
        <span class="font-bold text-xl">{{lastGuess.absDateDiff}} Year{{lastGuess.absDateDiff != 1 ? 's' : ''}}</span>
        .
      </p>
      <!-- <p class="mt-2">Stats: {{totalStats | json}}</p> -->
    </div>
    <div method="dialog" class="modal-backdrop" style="z-index: 3000;">
      <button (click)="nextGuess()">close</button>
    </div>
  </dialog>
  <iframe id="spotify-embed" style="display:hidden;" [src]="spotifyEmbedUrl" width="1" height="1" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
</div>
<ng-template #loadingSpinner>
  <div class="w-full text-center mt-6">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
