<div *ngIf="!loading; else loadingSpinner" class="flex flex-col" style="min-height: 100vh;">
  <div class="w-full flex flex-col justify-center items-center flex-grow">
    <div id="all" cdkDropList [cdkDropListData]="tracks" cdkDropListConnectedTo="newd"
      class="drag-list flex flex-col w-full flex-grow justify-center items-center gap-3 px-2 py-16" (cdkDropListDropped)="drop($event)">
      @for (number of tracks; track number;) {

      <ng-container *ngIf="number == -1">
        <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-96" cdkDrag [cdkDragData]="number">
          Drag Me into the correct Slot!
          <button class="btn btn-neutral btn-circle" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
            <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
          </button>
        </div>
      </ng-container>

      <div class="drag-list-item rounded-lg bg-neutral text-neutral-content shadow-xl p-4 w-96 gap-3" *ngIf="number != -1" cdkDrag cdkDragDisabled>
        <img class="w-24 h-auto" [src]="guessedTracks[number].album_image_url">
        {{guessedTracks[number].date.getFullYear()}} - {{guessedTracks[number].artist}} - {{guessedTracks[number].title}}
        <button class="btn btn-circle" (click)="toggleOtherSong(guessedTracks[number].track_url)">
          <svg *ngIf="guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
          </svg>
          <svg *ngIf="!(guessedTracks[number].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
          </svg>
        </button>
      </div>

      }
    </div>
  </div>

  <div class="bg-base-200 shadow-2xl min-h-[11rem]" style="position: sticky; bottom: 0; box-shadow: 0 -10px 20px 2px rgba(0,0,0,0.3);">
    <div class="w-full flex flex-col min-h-[11rem] justify-end items-center gap-3 p-4">
      <div [class.hidden]="newd.length == 0" id="newd" cdkDropList [cdkDropListData]="newd" cdkDropListConnectedTo="all" class="drag-list"
        (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
        @for (number of newd; track number) {

        <div class="drag-list-item rounded-lg bg-primary text-primary-content shadow-xl p-4 w-96" cdkDrag [cdkDragData]="number">
          Drag Me into the correct Slot!
          <button class="btn btn-neutral btn-circle" (click)="toggleOtherSong(gamePlaylist[track_n].track_url)">
            <svg *ngIf="gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            <svg *ngIf="!(gamePlaylist[track_n].track_url != spotifyEmbedUrl || spotifyPlaybackState.isPaused)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
          </button>
        </div>

        }
      </div>
      <button *ngIf="newd.length == 0" class="btn btn-primary btn-lg" (click)="guess()">Guess</button>

      <div class="flex flex-row gap-2 items-center w-96">
        <div class="flex flex-row items-center">
          <button class="btn btn-circle" (click)="revertPlayback()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
            </svg>
          </button>

          <button class="btn btn-secondary btn-circle" (click)="togglePlayback()">
            <svg *ngIf="spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            <svg *ngIf="!spotifyPlaybackState.isPaused" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
          </button>
        </div>

        <input type="range" min="0" [max]="spotifyPlaybackState.duration" class="range" (change)="seekPlayback()" [(ngModel)]="playbackSeekValue" [ngModelOptions]="{standalone: true}" />
      </div>
    </div>
  </div>
  <dialog class="modal modal-open" *ngIf="lastGuess && lastGuess.slotDiff == 0">
    <div class="modal-box bg-success text-success-content">
      <h3 class="font-bold text-lg">Yay!</h3>

      <div class="flex flex-row">
        <img class="w-24 h-auto" [src]="lastGuess.gameTrack.album_image_url">
        {{lastGuess.gameTrack.date.getFullYear()}} - {{lastGuess.gameTrack.artist}} - {{lastGuess.gameTrack.title}}
      </div>

      <div>Stats: {{totalStats | json}}</div>

      <button class="btn" (click)="nextGuess()">Continue</button>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button (click)="nextGuess()">close</button>
    </form>
  </dialog>
  <dialog class="modal modal-open" *ngIf="lastGuess && lastGuess.slotDiff != 0">
    <div class="modal-box bg-error text-error-content">
      <h3 class="font-bold text-lg">Nope - You guess too {{lastGuess.slotDiff > 0 ? 'late' : 'early'}}!</h3>

      <div class="flex flex-row">
        <img class="w-24 h-auto" [src]="lastGuess.gameTrack.album_image_url">
        {{lastGuess.gameTrack.date.getFullYear()}} - {{lastGuess.gameTrack.artist}} - {{lastGuess.gameTrack.title}}
      </div>

      <p>You were off: {{lastGuess.absSlotDiff}} Slot{{lastGuess.absSlotDiff != 1 ? 's' : ''}} and {{lastGuess.absDateDiff}} Year{{lastGuess.absDateDiff != 1 ? 's' : ''}}.</p>

      <div>Stats: {{totalStats | json}}</div>

      <button class="btn" (click)="nextGuess()">Continue</button>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button (click)="nextGuess()">close</button>
    </form>
  </dialog>
  <iframe id="spotify-embed" style="display:hidden;" [src]="spotifyEmbedUrl" width="1" height="1" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
</div>
<ng-template #loadingSpinner>
  <span class="loading loading-spinner"></span>
</ng-template>
