<!-- <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" (input)="inputChange()" [(ngModel)]="inputString"/>
<div *ngIf="output != ''">{{output}}<button class="btn" (click)="start()">Start</button></div> -->

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Guess now!</h1>
      <p class="py-6">Enter a spotify playlist url or select a preconfigured list to play a game of Hitster!</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Spotify Playlist</span>
          </label>
          <div class="flex flex-row gap-2">
            <input class="input input-bordered flex-grow" placeholder="spotify.com/playlist/13DZqkaAHiTY0nXtQf9iW0" (ngModelChange)="inputChange()" [(ngModel)]="inputString" [ngModelOptions]="{standalone: true}"/>
            <button class="btn" (click)="paste()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
              </svg>
            </button>
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Preset</span>
          </label>
          <select class="select select-bordered w-full max-w-xs" (change)="selectChange()" [(ngModel)]="selectString" [ngModelOptions]="{standalone: true}">
            <option disabled selected value="">Select preset?</option>
            <option *ngFor="let playlist of playlists | keyvalue" [value]="playlist.value">{{playlist.key}}</option>
          </select>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary" [disabled]="!validateInput() || loading" (click)="start()">
            <ng-container *ngIf="!loading; else loadingT">Start</ng-container>
            <ng-template #loadingT><span class="loading loading-spinner loading-lg"></span></ng-template>
          </button>
        </div>

        <ul class="menu rounded-box">
          <li>
            <details>
              <summary>Advanced Settings</summary>
              <div class="p-2 mt-2 bg-base-200 rounded-box">
                <div class="form-control">
                  <label class="label cursor-pointer">
                    <span class="label-text">Keep wrong guesses</span>
                    <input type="checkbox" checked="checked" class="checkbox" [(ngModel)]="settings.keepWrongGuesses" [ngModelOptions]="{standalone: true}" />
                  </label>
                </div>
              </div>
            </details>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
