<!-- <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" (input)="inputChange()" [(ngModel)]="inputString"/>
<div *ngIf="output != ''">{{output}}<button class="btn" (click)="start()">Start</button></div> -->

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Guess now!</h1>
      <p class="py-6">Enter a spotify playlist url or select a preconfigured list to play a game of Hitster!</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Spotify Playlist</span>
          </label>
          <input placeholder="spotify.com/playlist/13DZqkaAHiTY0nXtQf9iW0" class="input input-bordered" (ngModelChange)="inputChange()" [(ngModel)]="inputString" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Preset</span>
          </label>
          <select class="select select-bordered w-full max-w-xs" (change)="selectChange()" [(ngModel)]="selectString" [ngModelOptions]="{standalone: true}">
            <option disabled selected value="">Select preset?</option>
            <option *ngFor="let playlist of playlists | keyvalue" [value]="playlist.value">{{playlist.key}}</option>
          </select>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary" [disabled]="!inputChange()" (click)="start()">Start</button>
        </div>
        <div class="form-control mt-2">
          <button class="btn btn-secondary" (click)="startFavoriteTracks()">Start with your favorite Tracks!</button>
        </div>

        <ul class="menu rounded-box">
          <li>
            <details>
              <summary>Advanced Settings</summary>
              <div class="p-2 mt-2 bg-base-200 rounded-box">
                <div class="form-control">
                  <label class="label cursor-pointer">
                    <span class="label-text">Keep wrong guesses</span>
                    <input type="checkbox" checked="checked" class="checkbox" [(ngModel)]="settings.keepWrongGuesses" [ngModelOptions]="{standalone: true}" />
                  </label>
                </div>
              </div>
            </details>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
