@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  overscroll-behavior-y: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
}

.modal {
  backdrop-filter: blur(7px);
}

.overflow-anywhere {
  overflow-wrap: anywhere;
}

.padding-inset-top {
  padding-top: env(safe-area-inset-top);
}

.padding-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

:root {
  --bg-er-to-n: linear-gradient(30deg, oklch(var(--n)) 42%, oklch(var(--er)) 280%);
  --bg-su-to-n: linear-gradient(30deg, oklch(var(--n)) 42%, oklch(var(--su)) 280%);
}

.btn-success.bg-blur, .btn-error.bg-blur {
  background-color: oklch(var(--btn-color) / .3);
  border-color: oklch(var(--btn-color) / .1);
  outline-color: oklch(var(--btn-color) / .3);
}

.btn-success.bg-blur:hover, .btn-error.bg-blur:hover {
  background-color: oklch(var(--btn-color) / .2);
}

.bg-success-to-neutral {
  background-image: var(--bg-su-to-n);
}

.bg-error-to-neutral {
  background-image: var(--bg-er-to-n);
}

.animate-bg-success-to-neutral {
  animation: bg-success-to-neutral 1.0s;
}

.animate-bg-error-to-neutral {
  animation: bg-error-to-neutral 1.0s;
}

@keyframes bg-success-to-neutral {
  0% {
    background: oklch(var(--n));
  }
  20% {
    background: oklch(var(--su));
  }
}

@keyframes bg-error-to-neutral {
  0% {
    background: oklch(var(--n));
  }
  20% {
    background: oklch(var(--er));
  }
}
