@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  overscroll-behavior-y: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 0;
}

.overflow-anywhere {
  overflow-wrap: anywhere;
}

.padding-inset-top {
  padding-top: env(safe-area-inset-top);
}

.padding-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.animate-bg-success-to-neutral {
  animation: bg-success-to-neutral 1.5s;
}

.animate-bg-error-to-neutral {
  animation: bg-error-to-neutral 1.5s;
}

@keyframes bg-success-to-neutral {
  0% {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }
  20% {
    background-color: oklch(var(--su));
    color: oklch(var(--suc));
  }
  100% {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }
}

@keyframes bg-error-to-neutral {
  0% {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }
  20% {
    background-color: oklch(var(--er));
    color: oklch(var(--erc));
  }
  100% {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }
}
