@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  overscroll-behavior-y: none;
  overflow-y: scroll;
}

.overflow-anywhere {
  overflow-wrap: anywhere;
}

.padding-inset-top {
  padding-top: env(safe-area-inset-top);
}

.padding-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
